<!-- Syntax for "import" the header -->
<%- include('partials/header'); %>

<h1>About</h1>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt labore odio sequi exercitationem quia tenetur doloribus, incidunt iure? Inventore eaque aspernatur nihil alias beatae laboriosam error dolorem, ratione dolor possimus quis ipsa! Voluptas odio cupiditate neque minima incidunt ut nemo ad modi quibusdam, perferendis provident maiores velit numquam ab et nisi labore pariatur tempore id laborum. Et obcaecati reprehenderit recusandae minus, ratione temporibus ad deserunt placeat nostrum id tenetur tempora maxime molestiae incidunt exercitationem quos explicabo ea itaque esse doloremque? Fuga minima assumenda cum omnis vitae harum itaque rerum, voluptate tenetur odit maxime? Sunt eaque ullam cumque magni modi rem?</p>

<!-- Syntax for "import" the footer -->
<%- include('partials/footer'); %>