<!-- Syntax for "import" the header -->
<%- include('partials/header'); %>

<h1>Page with Express</h1>
<h2>
    <%= title %>
    </h2>
    
<!-- Syntax for "import" the footer -->
<%- include('partials/footer'); %>